.cart {
  margin: 1rem 0;
  border-radius: 12px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.292);
  backdrop-filter: blur(20px);
  animation: animate-in 1s ease-in-out forwards;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  width: 400px;
  padding: 1rem;
}
.writer {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
.sentance {
  white-space: pre-wrap;
  font-size: 1.25rem;
  margin: 0.25rem 0 0 0;
  color: #593884;
  font-style: italic;
}
@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 100%;
    transform: translateY(0rem);
  }
}
